@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Playfair+Display:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

 
.font-tech {
  font-family: 'Orbitron', sans-serif;
}

.font-forbes {
  font-family: 'Playfair Display', serif;
}

.font-bloomberg {
  font-family: 'IBM Plex Mono', monospace;
}

